.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
  border: 1px solid rgb(244, 244, 244);
}

.sidebar a {
  display: block;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
}

.sidebar a:hover {
  background-color: #00b19d;
  color: white;
}

.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.active {
  color: #019d8a;
  font-weight: 700;
}


.logo{
    margin: 10px;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar {
    display: flex;
  }
  .content {
    margin-left: 0;
  }
}

@media screen and (max-width: 300px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}


